{% extends "base.html" %}

{% block title %} Chat with {{ message }} {% endblock %}

{% block content %}

    <div class="container mt-5" style="width: 50%; margin: auto; background: seashell;">
        {% for user in users %}
            <form action="newchat" method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mt-3 mb-3">
                    <h5>{{ user.username }}</h5>
                    <button class="btn btn-primary" type="submit" name="submit" value="{{ user.id }}">Say Hi!</button>
                </div>
            </form>
        {% endfor %}
    </div>


{% endblock %}